@import url(http://fonts.googleapis.com/css?family=Changa+One);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);

*{
	font-family:verdana, arial;
	font-size:15px;
	
}
	body{
		padding:0px;
		margin:0px;
	}
	

	#contenedor{
		width: 100%; 	
	}
	   
	
	.boton{
		background: #5DB8B1;
		font-size: 13px;
		color: white;
		width:90px;
		border-radius: 5px;
		text-align:center;
		padding:10px 20px; 
		margin-right:50px;
		margin-top:5px;
		font-family: 'Special Elite', cursive;
		display:inline;
	}
	
	
	#encabezado{
		padding:30px; 
		padding-bottom:30px;
		color:silver;
		font-size:30px;
		background: #6DD4B7;
	}
	
	
	#espacio{
		height:520px;
		background:#C3F0C5;
		padding-top:30px; 
		color:#3E7550;
		padding-left:30px;
		padding-right:30px;
	}
	
	
	#letras{
		font-family: 'Changa One', cursive;
		color:#0078A7;
		font-size:40px;
		margin-left:50px;
		margin-right:50px;
		float:left;
	}
	
	#menu{
		float:right;
		width:500px;
		text-align:right;
	}
	
	
#flashMessage{
	font-size: 32px;
	font-family:Times;
	text-align:right;
	color: #FF1A00;
}

.boton_crear_cuenta{
	display:block;
	padding:15px 20px;
	background:D2691E;
	color:black;
	text-align:center;
	margin:5px auto;
	width:90px;
	border-radius:3px;
	text-decoration:none;
}
.boton_crear_nueva_cuenta{
	font-size: 20px;
	font-family:Times;
	text-align:right;
	color: #1515FF;

}

.loguear{
	width: 0%;
	float:right;
	padding-top: 133px;
}

.logueo{
	display:block;
	padding:15px 20px;
	background:gray;
	color:white;
	text-align:center;
	margin:5px auto;
	width:50px;
	border-radius:50px;
	text-decoration:none;
}
.loguear{
	width: 0%;
	float:right;
	padding-top: 133px;
}

div.text input, div.password input{
	width:300px;
	padding: 5px;
}

div.submit input{
	width:300px;
	padding:5px;
	margin-left:150px;
	
}

label{
	width:150px;
	display:inline-block;
}