@import url(http://fonts.googleapis.com/css?family=Changa+One);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);

*{
	font-family:verdana, arial;
	font-size:15px;
	
}
	body{
		padding:0px;
		margin:0px;
		background:#C3F0C5;
	}
	

	#contenedor{
		width: 100%; 	
	}
	   
	
	.boton{
		background: #5DB8B1;
		font-size: 13px;
		color: white;
		width:90px;
		border-radius: 5px;
		text-align:center;
		padding:10px 20px; 
		margin-right:50px;
		margin-top:5px;
		font-family: 'Special Elite', cursive;
		display:inline;
	}
	
	
	#encabezado{
		padding:30px; 
		padding-bottom:30px;
		color:silver;
		font-size:30px;
		background: #6DD4B7;
	}
	
	
	#espacio{
		height:520px;
		background:#C3F0C5;
		padding-top:30px; 
		color:#3E7550;
		padding-left:30px;
		padding-right:30px;
	}
	
	
	#letras{
		font-family: 'Changa One', cursive;
		color:#0078A7;
		font-size:40px;
		margin-left:50px;
		margin-right:50px;
		float:left;
	}
	
	#menu{
		float:right;
		width:500px;
		text-align:right;
	}
	
	
#flashMessage{
	font-size: 32px;
	font-family:Times;
	text-align:right;
	color: #FF1A00;
}

.boton_crear_cuenta{
	display:block;
	padding:15px 20px;
	background:D2691E;
	color:black;
	text-align:center;
	margin:5px auto;
	width:90px;
	border-radius:3px;
	text-decoration:none;
}
.boton_crear_nueva_cuenta{
	font-size: 20px;
	font-family:Times;
	text-align:right;
	color: #1515FF;
	border-radius: 5px;
	background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );

}

.boton_crear_nuevo_supplier{
	font-size: 20px;
	font-family:Times;
	text-align:right;
	color: #1515FF;

}

.loguear{
	width: 0%;
	float:right;
	padding-top: 133px;
}

.logueo{
	display:block;
	padding:15px 20px;
	background:gray;
	color:white;
	text-align:center;
	margin:5px auto;
	width:50px;
	border-radius:50px;
	text-decoration:none;
}
.loguear{
	width: 0%;
	float:right;
	padding-top: 133px;
}

div.text input, div.password input{
	width:300px;
	padding: 5px;
}

div.submit input{
	width:300px;
	padding:5px;
	margin-left:150px;
	
}

label{
	width:150px;
	display:inline-block;
}

.error-message{
	color: #FF0000;
	font-size: 15px;
	font-family: arial;
}

form .error{
	background: #FFFF00;
}
p.error{

	background:red;
	font-family:arial;
	color:white;
	font-size:20px;


}


.botones{
	font-size:20px;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	color:white;
	background:#5DB8B1;
	width:150px;
	border-radius: 5px;
	text-align:center;
	padding:10px 10px; 
	margin:5px;
	display:block;
}

.botones_izquierdos{
	font-size:20px;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	color:white;
	background:#5DB8B1;
	width:150px;
	border-radius: 5px;
	text-align:center;
	padding:10px 10px; 
	margin:5px;
	display:block;
	margin-right: 900px;
	float: right;
	
	
}

.botones_izquierdos2{
	font-size:15px;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	color:white;
	background:#DAA520;
	width:80px;
	border-radius: 2px;
	text-align:center;
	padding:5px 15px; 
	margin:5px;
	display:block;
	float: right;

	
	
}

.botones_izquierdos3{
	font-size:15px;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	color:white;
	background:#8FB32B;
	width:80px;
	border-radius: 2px;
	text-align:center;
	padding:5px 15px; 
	margin:5px;
	display:block;
	float: right;

	
	
}
.opcion{
	font-family:times,arial;
	font-size:20px;
	padding:10px 10px;
}

.titulos{
	font-family:times,arial;
	font-size:25px;
	padding:10px 10px;
	text-align:center;
	color: #111;
	text-shadow: 0px 2px 3px #555;
}

.titulos2{
	font-family:times;
	font-size:20px;
	padding:10px 10px;
	text-align:center;
	color: #4169E1;
	text-shadow: 0px 2px 3px #555;
}

